{% extends 'CrazyBookClub/base.html' %}

{% block page_header %}
    <h1>{{ book.book }}</h1>
{% endblock page_header %}

{% block content %}
    <p>
        <a href="{% url 'CrazyBookClub:new_review' book.id %}">Add new review</a>
    </p>

    {% for review in entries %}
        <div class="card mb-3">
            <!-- Card header with timestamp and edit link -->
            <h4 class="card-header">
                {{ review.date_added|date:'d M, Y H:i' }}
                <small><a href="{% url 'CrazyBookClub:edit_review' review.id %}">
                    Edit review</a></small>
            </h4>
            <!-- Card body with review text -->
            <div class="card-body">{{ review.book|linebreaks }}</div>
        </div>
        {% empty %}
            <p>There are no entries for this book yet.</p>
        {% endfor %}
        
{% endblock content %}  